<div class="page-content">
  <div class="page-heading"> 
  <h1>All Cabinet configurations</h1>
  </div>
  <div class="page_body" >
  
<table>
        <thead>
          <tr>
            <th>name</th>

            <th colspan="4"></th>
            
            
          </tr>
        </thead>
        <tbody>
          <% @cab_configs.each do |cab_config| %>
          <% if cab_config.collection.public_display == false %>
          

          <tr>
          <td><%="#{cab_config.colour} #{cab_config.style} #{cab_config.collection.name} Cabinet #{cab_config.id}"%> </td>
          
                <td><%= link_to "View", cab_config_path( cab_config )%></td>
                
                <td><%= link_to "Destroy", cab_config_path( cab_config ), method: :delete, data:{confirm: "reeeeaaaallllyyy???"}%></td>
              </tr>
              <%end%>
              
            

          

          </tr>
            
              
              
            
          <%end%>
        </tbody>
      </table>
      </div>
      </div>