<div class="page-content">
  <div class="page-heading"> 
<h1>Available Cabinets</h1>
</div>
<div class="page-body">

<div class="index">
<table>
        <thead>
          <tr>
            <th>name</th>

            <th colspan="4"></th>
            
            
          </tr>
        </thead>
        <tbody>
          <% @cab_configs.each do |cab_config| %>
          <% if cab_config.collection.public_display == true%>
          
          <div class="index-item"><tr>
          <td><%="#{cab_config.colour} #{cab_config.style} #{cab_config.collection.name} Cabinet ##{cab_config.id}"%> </td>
          <td><%= cab_config.price%>
                <td><%= link_to "View", cab_config_path( cab_config )%></td>
                
                <td><%= link_to "Destroy", cab_config_path( cab_config ), method: :delete, data:{confirm: "reeeeaaaallllyyy???"}%></td>
              </tr></div>
            

          

          </tr>
          <%end%>
            
              
              
            
          <%end%>
        </tbody>
      </table>
      </div>
      </div>
      </div>
      