<div class="page-content">
  <div class="page-heading"> 
    <h1>Create a new Cabinet Configuration</h1> 
  </div>

  <div class="page-body">
  <%= render 'shared/cab_config_form'%>
  </div>
  
</div>
