/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
 *{
  color: rgb(23, 98, 211);
  font-family: 'Rubik', sans-serif;
  margin: 0;
}
.small-nav {
  
  background-color: red;
  height: 30px;
}
.logout-option {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.logout-option p {
  margin: 0;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: teal;
}

.index table {
  width: 100%;
}

.index-item table tbody tr {
  display: flex;
  height: 25%;
  width: 25%;
  
}

.page-heading {
  margin: 10px;
  

}

.page-content {
  display: flex;
  flex-direction: column;
  margin: 10px;

}

.page-body {
  margin: 10px

}

.form form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content:space-between;
  align-items: center;


}
.footer {
  height: 60px;
  position: fixed;
  bottom: 0px;

}
.footer-content {
  margin: 10px;
}